{% extends '@KronhyxBase/auth.html.twig' %}

{% block box %}
    <div class="m-t-40 card-box">
        <div class="text-center">
            <h4 class="text-uppercase font-bold m-b-0">{{ 'kronhyx.base.title.login'|trans }}</h4>
        </div>
        <div class="panel-body">

            {{ form_start(kronhyx.form.login,{attr:{'class':'form-horizontal m-t-20'}}) }}

            <div class="form-group ">
                <div class="col-xs-12">{{ form_widget(kronhyx.form.login.user) }}</div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">{{ form_widget(kronhyx.form.login.password) }}</div>
            </div>

            <div class="form-group ">
                <div class="col-xs-12">{{ form_row(kronhyx.form.login.rememberme) }}</div>
            </div>

            <div class="form-group text-center m-t-30">
                <div class="col-xs-12">{{ form_row(kronhyx.form.login.submit) }}</div>
            </div>

            <div class="form-group m-t-30 m-b-0">
                <div class="col-sm-12">
                    <a class="text-muted">
                        <i class="fa fa-lock m-r-5">&nbsp;</i> {{ 'kronhyx.base.title.forgot'|trans }}
                    </a>
                </div>
            </div>

            {{ form_end(kronhyx.form.login) }}

        </div>
    </div>
    <!-- end card-box-->

    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="text-muted">{{ 'kronhyx.base.title.dont_have_account'|trans }}
                <a class="text-primary m-l-5">
                    <b>{{ 'kronhyx.base.title.register'|trans }}</b>
                </a>
            </p>
        </div>
    </div>
{% endblock %}