{% extends '@KronhyxBase/auth.html.twig' %}

{% block box %}
    <div class="m-t-40 card-box">
        <div class="text-center">
            <h4 class="text-uppercase font-bold m-b-0">Sign In</h4>
        </div>
        <div class="panel-body">
            {{ form_start(kronhyx_global().form.login,{attr:{
                'class':'form-horizontal m-t-20'
            }}) }}
            <div class="form-group ">
                <div class="col-xs-12">{{ form_widget(kronhyx_global().form.login.user) }}</div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">{{ form_widget(kronhyx_global().form.login.password) }}</div>
            </div>

            <div class="form-group ">
                <div class="col-xs-12">
                    <div class="col-xs-12">{{ form_widget(kronhyx_global().form.login.rememberme) }}</div>
                    <div class="checkbox checkbox-custom">
                        <input id="checkbox-signup" type="checkbox">
                        <label for="checkbox-signup">
                            Remember me
                        </label>
                    </div>

                </div>
            </div>

            <div class="form-group text-center m-t-30">
                <div class="col-xs-12">
                    <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light">
                        Log In
                    </button>
                </div>
            </div>

            <div class="form-group m-t-30 m-b-0">
                <div class="col-sm-12">
                    <a href="page-recoverpw.html" class="text-muted">
                        <i class="fa fa-lock m-r-5">&nbsp;</i> Forgot your password?
                    </a>
                </div>
            </div>
            {{ form_end(kronhyx_global().form.login) }}

        </div>
    </div>
    <!-- end card-box-->

    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="text-muted">Don't have an account?
                <a href="page-register.html" class="text-primary m-l-5">
                    <b>Sign Up</b>
                </a>
            </p>
        </div>
    </div>
{% endblock %}