{% extends 'form_div_layout.html.twig' %}

{%- block widget_attributes -%}
    {% set attr = attr|merge({'class': 'form-control'}) %}
    {{ parent() }}
{%- endblock widget_attributes -%}

{%- block checkbox_row -%}
    <div class="checkbox checkbox-custom">
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
        {{- form_label(form) -}}
    </div>
{%- endblock checkbox_row -%}

{% block button_widget %}
    {% set attr = attr|merge({'class': 'form-control btn btn-custom btn-bordred btn-block waves-effect waves-light'}) %}
    {{ parent() }}
{% endblock button_widget %}

